:root {
  --primary: #5e2d90;
  --accent: #a3298f;
  --light-accent: #bf69b1;
}

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  height: 40px;
  width: auto;
  margin: 0.75rem 1rem 0.5rem 1rem;
}

.list-label {
  display: inline-block;
  text-align: left;
  width: 50%;
}

.list-value {
  font-size: 14px;
  display: inline-block;
  width: 50%;
  text-align: right;
}

.ac-chip {
}

a {
  color: var(--light-accent);
  text-decoration: none;
}

.header-box {
  min-height: 180px;
  height: 180px;
}

.status-done-progress {
  position: relative;
}

.status-done-progress::before {
  content: "⬤";
  position: absolute;
  top: -10px;
  left: -2px;
  color: #ff8c00;
}

.status-done-progress::after {
  content: "▶";
  position: absolute;
  top: -10px;
  right: -4px;
  color: #ff8c00;
}

.status-box {
  height: 40px;
  width: 20%;
  border: 1px solid #ccc;
  border-right: 0;
}

.arrow-right,
.arrow-right-inactive {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 20px solid green;
}

.arrow-right-inactive {
  border-left: 20px solid gray;
}

.status-future-progress {
  height: 0;
  border-top: 4px dashed gray;
  position: relative;
  margin-right: 14px;
}

.status-future-progress::before {
  content: "⬤";
  position: absolute;
  top: -14px;
  left: -4px;
  color: gray;
}

.status-future-progress::after {
  content: "◯";
  position: absolute;
  top: -14px;
  right: -18px;
  color: gray;
}
